@{
    ViewData["Title"] = "Home Page";
}

@model MyModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<span>@ViewData["Result"]</span>

<form asp-action="Index">
    <input asp-for="Value" />
    <input type="submit" />
</form>